# Step 1: Loading data

In [8]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('data-64f364840fc64237552010.csv')
df.head()

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
0,0,Kayla Howell,NaN,112,Male,Lake Benjamin,0,Electronics©,Smart Watches,384.37,...,862,25,2022-03-06,54,Jasonborough,15745,2,Miller-Pearson,Clarkmouth,9.83
1,1,Wanda Graham,brianfisher@example.com,65,Female,West Joshua,1,Electronics,Cameras,331.40,...,549,254,2020-11-23,6,Dawnport,7291,2,Miller-Pearson,Clarkmouth,9.83
2,2,Raymond James,brownfred@example.com,21,Male,Sweeneyton,2,Electronics,Mobile Phones,534.75,...,656,236,2022-02-10,236,Hallview,10609,8,Parks-Gallegos,Jenkinsside,6.82
3,3,Thomas Smith,anthonyleon@example.com,68,Female,Lake Matthew,3,Furniture,Cabinets,259.52,...,621,88,2021-07-04,239,Mckenzieton,16255,5,Morgan LLC,Port Robynmouth,1.23
4,4,Matthew Lee,david54@example.org,66,Female,West Kristinbury,4,Clothing,T-Shirts,800.64,...,557,385,2022-08-16,289,Port Austin,16559,2,Miller-Pearson,Clarkmouth,9.83

In [10]:
df.shape

(9999, 28)

In [11]:
df.columns

Index(['CustomerID', 'Name', 'Email', 'Age', 'Gender', 'Location', 'ProductID',
       'Category', 'Subcategory', 'Price', 'Weight', 'Dimensions', 'OrderID',
       'Date_Order', 'TotalAmount', 'ShippingMethod', 'Status', 'InventoryID',
       'StockLevel', 'RestockThreshold', 'LastRestockDate', 'WarehouseID',
       'Location_warehouse', 'Capacity', 'SupplierID', 'Company',
       'Location_Supplier', 'QualityScore'],
      dtype='object')

In [12]:
# Rename the columns
df.rename(columns={'Date_Order': 'DateOrder'}, inplace=True)
df.rename(columns={'Location_warehouse': 'LocationWarehouse'}, inplace=True)
df.rename(columns={'Location_Supplier': 'LocationSupplier'}, inplace=True)

In [13]:
df.columns

Index(['CustomerID', 'Name', 'Email', 'Age', 'Gender', 'Location', 'ProductID',
       'Category', 'Subcategory', 'Price', 'Weight', 'Dimensions', 'OrderID',
       'DateOrder', 'TotalAmount', 'ShippingMethod', 'Status', 'InventoryID',
       'StockLevel', 'RestockThreshold', 'LastRestockDate', 'WarehouseID',
       'LocationWarehouse', 'Capacity', 'SupplierID', 'Company',
       'LocationSupplier', 'QualityScore'],
      dtype='object')

# Step 2: Shuffle and Split the Data

In [14]:
# Shuffle the data
df_shuffled = df.sample(frac=1, random_state=42)

# Calculate the number of rows for each destination
total_rows = df_shuffled.shape[0]
json_rows = int(0.5 * total_rows)
csv_rows = total_rows - json_rows

# Split the data into JSON and CSV parts
df_json = df_shuffled.iloc[:json_rows]
df_csv = df_shuffled.iloc[json_rows:]

# Save the JSON and CSV Data

In [15]:
# Save the splits to their respective destinations (JSON, database, and CSV)
df_json.to_json('data.json', orient='records')
df_csv.to_csv('data.csv', index=False)